#divlogo {
  width: 100%;
  height: 60px;
  background-color: #09477af1;
}
#loo {
  width: 10%;
}
.elencocliccabili {
  width: 100%;
  height: 30px;
  background-color: #195e83;
  display: flex;
}
a {
  color: white;
  padding-left: 5px;
}
#containorange {
  width: 95%;
  height: 28px;
  background-color: rgba(255, 51, 0, 0.801);
  justify-self: center;
}
#imgverde {
  width: 95%;
  height: 8rem;
  background-image: url(/assets/images/bg-image1.png);
  background-position: center;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
#flexcontainer {
  width: 95%;
  padding-top: 20px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  height: 245px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(249, 249, 242, 0.966);
}
#flexcontainer > .block1,
.block2,
.block3,
.block4 {
  border-radius: 3rem;
  width: 12rem;
  color: blue;
  height: 14rem;
  border: 1px solid white;
}
.block1 {
  background-image: url(/assets/images/img_1.jpg);
  background-position: center;
  background-size: cover;
}
.block2 {
  background-image: url(/assets/images/img_2.jpg);
  background-position: center;
  background-size: cover;
}
.block3 {
  background-image: url(/assets/images/img_3.jpg);
  background-position: center;
  background-size: cover;
}
.block4 {
  background-image: url(/assets/images/img_4.jpg);
  background-position: center;
  background-size: cover;
}
#flexcontainer2,
#flexcontainer3 {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  display: flex;
  align-self: center;
  height: 200px;
}
#flexcontainer2 {
  background-image: url(/assets/images/img_9.png);
  background-position: center;
  background-size: cover;
}
#flexcontainer3 {
  background-image: url(/assets/images/img_10.png);
  background-position: center;
  background-size: cover;
}
#containfooter {
  width: 100%;
  height: 80px;
  padding-bottom: 20px;
  background-color: #154c79;
  padding-top: 0.85rem;
}
#logoft {
  width: 15%;
  display: flex;
  justify-self: center;
  padding-top: 1rem;
}

#paragraph {
  display: flex;
  justify-self: center;
  padding-top: 0.4em;
  color: white;
}
.title {
  text-align: center;
  padding-top: 3%;
  color: white;
  font-size: 2rem;
}
#paragraph2 {
  text-align: center;
  padding-top: 1rem;
  color: white;
}
.tr {
  padding-left: 3rem;
}
.elencocliccabili > .div1 {
  border-radius: 6px;
  padding-left: 15px;
  padding-top: 7px;
  color: white;
}
.miniparagraph {
  display: flex;
  justify-self: center;
}

.elenco1 > #backtotop {
  justify-self: center;
}
#link {
  padding-left: 37rem;
  padding-top: 0.3em;
}
